h1{
    color: crimson;
}
#img1{
    height: 300px; 
    width: 400px; 
    
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: rgb(30, 214, 238);
    border: 10px;
    border-color: blue;

}
#spanId{
    font-size: 25px;
    margin: 50px;
}