h1{
    color: crimson;
}

img{
     
    width: 400px; 
    
}

#thirdDiv{
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: rgb(30, 214, 238);
    padding: 20px;
    border: 5px solid red;
    top: 50%;
    /*500px / 2 = 250*/
    left: calc(50% - 250px);
    

}
#spanId{
    font-size: 25px;
    margin: 50px;
    
}
body{
    background-image:url("https://img.freepik.com/foto-gratis/fondo-mariscos-sobre-fondo-gris_80743-6.jpg?size=626&ext=jpg");
    background-size: cover;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    
}